@font-face {
  font-family: 'Suranna';
  font-style: normal;
  font-weight: 400;
  src: url(/20220508133633im_/https://fonts.gstatic.com/s/suranna/v13/gokuH6ztGkFjWe58hBNTSw.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 13:36:33 May 08, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:36:00 Jul 30, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.669
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.006
  esindex: 0.01
  cdx.remote: 805.867
  LoadShardBlock: 238.791 (3)
  PetaboxLoader3.datanode: 310.26 (4)
  load_resource: 258.682
  PetaboxLoader3.resolve: 116.375
*/